body{
background-color: black;
color: white;
}

li{
    font-size: 18px;
    color: red;
}

#html{
    color: rgb(255, 128, 0);
}

#css{
    color: rgb(103, 171, 255);
}
#javascript{
    color: yellow;
}

button{
 background-color: pink;
 padding: 10px 20px; /* espaço interno */
 margin: 10px; /* espaço externo */
 border-radius: 10px; /*borda */
 max-width: 100px;
}


span{
    font-size: 20px;
    color: rgb(119, 0, 225);
}

div{
    display: flex;
    flex-direction: column;
}

#acessivel{
     display: fixed;
     left: 20px;
     botton: 20px;
}