body{
background-color: black;
color: white;
}

li{
    font-size: 18px;
    color: red;
}

#html{
    color: rgb(255, 128, 0);
}

#css{
    color: rgb(103, 171, 255);
}
#javascript{
    color: yellow;
}